body{
  margin: 5em;
}

ul{  
  padding: 0;
  list-style-type: None;
  
}

li{
  margin-right: 2em;
  margin-top: 1em;
  font: None;text-decoration: None;
}

main{
  padding-top: 2em;
  
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: 5px solid black;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  color: grey;
  font-style:oblique;
}

nav>ul{
  border-bottom: 1px solid black;
}
h1{
  border-bottom: 5px solid black;
 }

 a{
  text-decoration: None;
  font-weight: bold;
 }
 img{
  width: 2%;
 }